@import url('https://fonts.googleapis.com/css?family=Ubuntu & display= swap');
* {
    box-sizing: border-box;
}
body {
  
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    /*Dikeyde ortalama yapmamızı sağlar fakat bunu kullanaabilmek için yükseklik vermemiz gerekiyor */
    height: 100vh;
    align-items: center;
    flex-direction: column;
    overflow: hidden;  
    margin: 0;  
}
.bg{
    background:url('https://i.pinimg.com/564x/7f/91/d6/7f91d6818291e4395bdea19ebe2e8991.jpg')
    center center/cover  no-repeat;
    top: -30;
    left: -30;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}
.loading-text {
    font-size: 50px;
    color: #fff;
}